<!DOCTYPE html>
<html>
  <head>
    <title>Repeated Word Checker Machine</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='mystyle.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
